.kutu {
    background-color: red;
    text-align: center;
}

.kutu b {
    background-color: aqua;
}

.kutu2 {
    background-color: cornflowerblue;
    margin-top: 20px;
}

.kutu2 p {
    background-color: rgb(138, 24, 94);
    width: 200;
    margin: auto;
    text-align: center;
}